.hidden {
    display: none;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#blog-name {
    display: inline-block;
    font-size: 2em;
    color:white;
    text-align:left;
    width:33%;
}
#clock {
    display: inline-block;
    font-size: 2em;
    color:red;
    margin:auto;
    width:33%;
}

#menu {
    display: inline-block;
    font-size: 2em;
    color:white;
    text-align:right;
    width:33%;
}
#todo-list {
    font-size: 3em;
    color:azure
}

#quote {
    font-size: 1em;
    color:azure;
    display: inline-block;
    position:fixed;
    bottom:0;
}

#weather {
    font-size: 1em;
    color:azure;
    display: inline-block;
    position:fixed;
    bottom:0;
    right:0;
}
